<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmenten::head(title='Pizza Luigi')"></head>
<body>
<h1>Pizza Luigi</h1>
<nav th:replace="fragmenten::menu"></nav>
<img th:src="@{/images/luigi.jpg}" alt="pizza" class="fullwidth">
<h2>Goede <span th:text="${boodschap}"></span> pizzalovers</h2>
<h2>De zaakvoerder</h2>
<dl th:object="${zaakvoerder}">
    <dt>Naam</dt>
    <dd th:text="*{naam}"></dd>
    <dt>Aantal kinderen</dt>
    <dd th:text="*{aantalKinderen}"></dd>
    <dt>Gehuwd</dt>
    <dd th:text="*{gehuwd} ? 'Ja' : 'Nee'"></dd>
    <dt>Adres</dt>
    <dd th:object="${zaakvoerder.adres}"
        th:text="|*{straat} *{huisNr} *{postcode} *{gemeente}|"></dd></dl>

<h4>De kleur van de gekozen cookie:</h4>
<h4 th:text="${kleur}"></h4>
</body>
</html>