<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmenten::head(title='Pizza\'s')"></head>
<body>
<h1>Pizza Luigi</h1>
<nav th:replace="fragmenten::menu"></nav>
<h2>Aanbod pizzas!</h2>
<img th:src="@{/images/luigi.jpg}" alt="pizza" class="fullwidth">
<ul class="zebra">
    <li th:each="pizza:${pizzas}" th:object="${pizza}">
        <span th:text="|*{naam} EUR *{prijs}|"></span>
        <span th:if="*{pikant}"> pikant</span>
    </li>
</ul>

</body>
</html>